.carousel-facilities {
    margin-bottom: 2rem;
}

.carousel-facilities img {
    min-height: 300px;
    height: 75vh;
    object-fit: cover
}

.carousel-facilities .carousel-indicators {
    bottom: -25px;
}

.carousel-facilities .carousel-indicators button {
    width: 50px;
}

.carousel-facilities .carousel-indicators .active {
    background-color: var(--bs-danger);
}