#navbar-home {
    height: 10vh;
}

#navbar-home .brand-logo {
    max-height: 7vh;
    width: auto;
}

@media screen and (max-width: 768px) {
    #navbar-home {
        min-height: 8vh;
        height: unset;
    }

    #navbar-home .brand-logo {
        min-height: 32px;
        max-height: 5vh;
        max-width: 200px;
    }
}